[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group modules-index-elasticsearch
	forgeAuthor = group modules-index-elasticsearch
	forgeCommitter = group modules-index-elasticsearch
	forgeServerAsCommitter = group modules-index-elasticsearch
	push = +force group modules-index-elasticsearch
[project]
	description = Gerrit libModule providing an index backend based on ElasticSearch
